<div class="ui inverted padded footer segment">
    <div class="ui inverted centered large header">
        Contact Form
    </div>
    <div class="ui raised container red segment">
        <div class="ui attached message">
            <div class="header">
                Welcome to our site!
            </div>
            <p>Fill out the form below to send the message you want</p>
        </div>
        <div class="ui form attached fluid segment">
            <div class="two fields">
                <div class="required field">
                    <label>First name</label>
                    <input type="text" placeholder="First Name">
                </div>
                <div class="required field">
                    <label>Last name</label>
                    <input type="text" placeholder="Last Name">
                </div>
            </div>
            <div class="two fields">
                <div class="required field">
                    <label for="">Email Address</label>
                    <input type="email" name="" id="" placeholder="email">
                </div>
                <div class="required field">
                    <label for="">Phone Number</label>
                    <input type="number" placeholder="Phone No">
                </div>
            </div>
            <div class="fields">
                <div class="six wide required field">
                    <label for="">Email Address</label>
                    <input type="email" placeholder="email">
                </div>
                <div class="ten wide required field">
                    <label for="">Phone Number</label>
                    <input type="number" placeholder="Phone No">
                </div>
            </div>
            <div class="required field">
                <label>Message</label>
                <textarea rows="2"></textarea>
            </div>
            <button class="ui red button" type="submit">Submit</button>
        </div>
    </div>
    <h3 class="ui centered large header"> Contact Us</h3>
    <div class="ui centered stackable container grid">
        <div class="ui basic padded stackable segment">
            <button class="ui large facebook button">
                <i class="facebook icon"></i>
                Facebook
            </button>
            <button class="ui large twitter button">
                <i class="twitter icon"></i>
                Twitter
            </button>
            <button class="ui large linkedin button">
                <i class="linkedin icon"></i>
                LinkedIn
            </button>
            <button class="ui large instagram button">
                <i class="instagram icon"></i>
                Instagram
            </button>
            <button class="ui large green button">
                <i class="whatsapp icon"></i>
                Whatsapp
            </button>
        </div>
    </div>
    <!-- <div class="content"> -->
    <div class="ui centered grid container">
        <i class="copyright outline icon"></i>
        Thangaraj 3D Printers. All Rights reserved.
    </div>
    <!-- </div> -->
</div>