<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Printers</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="../js/jsCode.js"></script>
</head>
<body>
<body>
    <body>
        <div class="ui visible sidebar inverted vertical menu">
            <div class="item">
                <div class="header">3D Printers</div>
                <div class="menu">
                    <a class="item">FDM (Plastic)</a>
                    <a class="item">SLA Resins</a>
                    <a class="item">3D Pen</a>
                    <a class="item">3D Scanners</a>
                </div>
            </div>
            <div class="item">
                <div class="header">3D Printing Services</div>
                <div class="menu">
                    <a class="item">Miniature</a>
                    <a class="item">Wood Carving</a>
                    <a class="item">Laser Printing</a>
                    <a class="item">3D Design</a>
                    <a class="item">3D Model Printing</a>
                    <a class="item">3D Scanning</a>
                </div>
            </div>
            <div class="item">
                <div class="header">Filaments</div>
                <div class="menu">
                    <a class="item">ABS</a>
                    <a class="item">PLA</a>
                    <a class="item">TPU</a>
                    <a class="item">Carbon</a>
                </div>
            </div>
            <div class="item">
                <div class="header">3D Printer Accessories</div>
                <div class="menu">
                    <a class="item">Board</a>
                    <a class="item">Tubes</a>
                    <a class="item">Hotends</a>
                    <a class="item">Heat Bed</a>
                </div>
            </div>
            <div class="item">
                <div class="header">Training</div>
                <div class="menu">
                    <a class="item">Online</a>
                    <a class="item">Live Class</a>
                    <a class="item">Knowledge Base</a>
                    <a class="item">Workshop</a>
                    <a class="item">3D Scanning</a>
                    <a class="item">3D Designing</a>
                    <a class="item">3D Slicing</a>
                    <a class="item">3D Printing</a>
                    <a class="item">Post Processing</a>
                </div>
            </div>
            <div class="item">
                <div class="header">About Us</div>
                <div class="menu">
                    <a class="item">Who we are</a>
                    <a class="item">Our Team</a>
                    <a class="item">Our Customers</a>
                    <a class="item">Quality Assurance</a>
                    <a class="item">Customer Feedback</a>
                    <a class="item">MSME Certificate</a>
                    <a class="item">Terms and Condition</a>
                    <a class="item">Refund Policy</a>
                    <a class="item">Privacy Policy</a>
                </div>
            </div>
        </div>
        <div class="pusher">
            <!-- Site content !-->
        </div>
    </body>

</body>
</body>
</html>