<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>

<body>
<div class="ui attached message">
    <div class="header">
        Welcome to our site!
    </div>
    <p>Fill out the form below to send the message you want</p>
</div>
<form action="/signup" method="POST">
    <div class="ui form attached fluid segment">
        <div class="two fields">
            <div class="required field">
                <label>First name</label>
                <input type="text" placeholder="First Name" name="FirstName">
            </div>
            <div class="required field">
                <label>Last name</label>
                <input type="text" placeholder="Last Name" name="LastName">
            </div>
        </div>
        <div class="two fields">
            <div class="required field">
                <label>Email</label>
                <input type="email" placeholder="Email" name="Email">
            </div>
            <div class="required field">
                <label>Phone Number</label>
                <input type="number" placeholder="Phone Number" name="PhoneNo">
            </div>
        </div>
        <div class="required field">
            <label for="">Password</label>
            <input type="password" placeholder="Your Password Goes here !!" name="Password">
        </div>
        <button class="ui red button" type="submit">Submit</button>
    </div>
</form>
</body>

</html>